* {
  font-family: "Rubik", sans-serif;
}
body {
  overflow-x: hidden;
}
a.nav-link {
  color: hsl(228, 33%, 20%);
}

.landing {
  height: calc(100vh - 56.5px);
  overflow-x: hidden;
}

.landing .btn {
  box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
}

.landing .img-cont {
  position: relative;
}

.landing .img-cont::after {
  content: "";
  top: 20%;
  right: -35%;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: hsl(230, 70%, 60%);
  position: absolute;
  border-radius: 1000px;
}

#menu.show {
  padding: 4rem;
  background: rgb(45, 41, 72);
  width: 100%;
  height: 100vh;
}

/*-----------------FEATURES--------------------*/

.nav-options {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  padding: 0.3rem 0 1rem 0;
}

.nav-options::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);

  width: 40%;
  height: 0.2rem;
  background: red;
  opacity: 0;
}

.nav-options:hover::after {
  opacity: 1;
}

.nav-options:hover {
  border-bottom: 2px solid #ccc;
}

.simple-book {
  border-top: 1px solid #ccc;
  padding-top: 1.2rem;
}

.feature-tab {
  position: relative;
  display: none;
}

.feature-tab.active {
  display: block;
}

.more-info-features {
  display: none;
}

@media (min-width: 768px) {
  .simple-book {
    border-top: none;
  }
  .more-info-features {
    display: block;
  }
}
.scaled {
  transform: scale(0.85);
  transform-origin: top center;
}

.scaled:nth-child(1) {
  transform: scale(0.85) translateY(0);
}

.scaled:nth-child(2) {
  transform: scale(0.85) translateY(2rem);
}

.scaled:nth-child(3) {
  transform: scale(0.85) translateY(4rem);
}

.faq-arrow {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.22s;
}

details[open] .faq-arrow path {
  stroke: red;
}
details[open] .faq-arrow {
  transform: rotate(180deg);
}

.letter-spacing-sm {
  letter-spacing: 0.2rem;
}
.error-container {
  position: relative;
  overflow: visible;
}
.error-container input {
  padding-right: 2.5rem;
  border: 1px solid #ccc;
}

.error-container.error input {
  border: 2px solid #dc3545;
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
}


.icon-error {
  position: absolute;
  top: 35%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.error-container.error .icon-error {
  display: block;
}

.error-message {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -2px; 
}

.error-container.error .error-message {
  display: block;
}

.btn-danger.clicked {
  background-color: #fff !important;  
  color: #dc3545 !important;         
  border-color: #dc3545 !important;   
}

.footer-color{
  background-color: rgb(33, 13, 89);
}