* {
  font-family: "Rubik", sans-serif;
}
body {
  overflow-x: hidden;
}

.landing {
  height: calc(100vh - 56.5px);
  overflow-x: hidden;
}

.landing .img-cont {
  position: relative;
}

.landing .img-cont::after {
  content: "";
  top: 20%;
  right: -35%;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: hsl(230, 70%, 60%);
  position: absolute;
  border-radius: 1000px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(35, 41, 72, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1050;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.menu-overlay li {
  width: 80%;
  text-align: center;
  border-top: 1px solid rgb(155, 149, 149);
}

#menu.show .menu-overlay {
  opacity: 1;
  pointer-events: auto;
}
#menu.show .menu-overlay .nav-link:hover {
  color: #ffffff !important;
}

.menu-overlay .nav-link {
  display: block;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 2rem 0 0 0;
}

.menu-overlay .nav-link:hover {
  color: #ffffff;
}

.menu-overlay .btn-login:hover {
  color: red !important;
  background-color: white;
  border: 1px solid red;
}

@media (min-width: 768px) {
  .menu-overlay {
    position: static;
    height: auto;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
    pointer-events: auto;
    opacity: 1 !important;
  }

  .menu-overlay .nav-link {
    font-size: 1rem;
    color: hsl(228, 33%, 20%);
    padding: 0;
  }
  .menu-overlay .nav-link:hover {
    color: hsl(228, 33%, 20%);
  }
  .menu-overlay li {
    width: auto;
    border-top: none;
    text-align: right;
  }
  .main-hero .fondo-azul {
    width: 100%;
    height: 18rem;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
  
  }

 .feature-tab .fondo-azul-ft{
    width: 80%;
    height: 13rem;
    top: 85%;
    left: 1%;
    transform: translate(-50%, -50%);

  }
}

.menu-header {
  z-index: 2000;
}

.menu-header img {
  margin-bottom: 1.3rem;
}

.fondo-azul {
  width: 90%;
  height: 15rem;
  background-color: #5266df;
  border-bottom-left-radius: 8rem;
  z-index: -1;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.fondo-azul-ft{
  width: 100%;
  height:8rem;
  background-color: #5266df;
  border-bottom-right-radius: 8rem;
  z-index: -1;
  top: 30%;
 left: 30%;
  transform: translate(-50%, -50%);
}

/*-----------------FEATURES--------------------*/

.nav-options {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  padding: 0.3rem 0 1rem 0;
}

.nav-options::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);

  width: 40%;
  height: 0.2rem;
  background: red;
  opacity: 0;
}

.nav-options:hover::after {
  opacity: 1;
}

.nav-options:hover {
  border-bottom: 2px solid #ccc;
}

.simple-book {
  border-top: 1px solid #ccc;
  padding-top: 1.2rem;
}

.feature-tab {
  position: relative;
  display: none;
}

.feature-tab.active {
  display: block;
}

.more-info-features {
  display: none;
}

@media (min-width: 768px) {
  .simple-book {
    border-top: none;
  }
  .more-info-features {
    display: block;
  }
}
.scaled {
  transform: scale(0.85);
  transform-origin: top center;
}

.scaled:nth-child(1) {
  transform: scale(0.85) translateY(0);
}

.scaled:nth-child(2) {
  transform: scale(0.85) translateY(2rem);
}

.scaled:nth-child(3) {
  transform: scale(0.85) translateY(4rem);
}

.faq-arrow {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.22s;
}

details[open] .faq-arrow path {
  stroke: red;
}
details[open] .faq-arrow {
  transform: rotate(180deg);
}

.letter-spacing-sm {
  letter-spacing: 0.2rem;
}
.error-container {
  position: relative;
  overflow: visible;
}
.error-container input {
  padding-right: 2.5rem;
  border: 1px solid #ccc;
}

.error-container.error input {
  border: 2px solid #dc3545;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.icon-error {
  position: absolute;
  top: 35%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.error-container.error .icon-error {
  display: block;
}

.error-message {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -2px;
}

.error-container.error .error-message {
  display: block;
}

.btn-danger.clicked {
  background-color: #fff !important;
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.footer-color {
  background-color: rgb(33, 13, 89);
}

.nav-link:hover {
  color: red !important;
}

.social-icon:hover svg path {
  fill: red;
}
